body {
  font-family: 'Merriweather Sans', sans-serif;
  color: white
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
  margin-left: 2em;
}

h2 {
  font-size: 1em;
  margin-bottom: 0.65em;
  margin-left: 1em;
}

p {
  font-size: 12px;
  margin-bottom: 1em;
  margin-left: 2em;



}


figcaption {
    font-size: 0.75em;
    font-style: italic;
}
